.container {
  padding: 30px;
}

.card {
  padding: 2vw;;
}

.row, form {
  margin-bottom: 2vh;
}

.col-md-4 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-md-4:hover {
  color:blueviolet;
}

body {
  background-color: rgb(188, 229, 240);
}

.whale, .octopus, .parrot {
  display: none;
}

h1 {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font: bold;
}

.btn btn-outline-dark {
  padding-top: 8px;
  border-color: indigo;
}